.passwordInput{
    position: relative;
    width: 100%;
}
.eyeIcon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #000;
    font-size:14px;
}
.checkBox{
    accent-color: #00786f !important;
}
.loader {
    width: 18px;
    height: 18px;
    border: 4px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 



