@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-thumb {
  background: #009689;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 150, 137 , .7);
}
::-webkit-scrollbar-track {
  background: transparent;
}

*::selection{
  background:#009689;
  color:#fff;
}